[2015-10-08 07:06] joeldenning opened #1 "[bower-angular-phonecat] clicking on a phone doesn't work"

[2015-10-08 07:07] joeldenning opened #2 "first clicking on [bower-angular-phonecat] and then clicking on [jspm-with-angular-1.3.0] doesn't work"
the jspm-with-angular-1.3.0 app doesn't load in that circumstance.

[2015-10-12 03:04] internettrans commented on #2
Fixed with https://github.com/joeldenning/single-spa-angular1/commit/799b5f6c9aa68e0864fbd798550a1cf98dc531ac

[2015-10-12 03:04] #2 closed

[2015-10-12 03:05] internettrans commented on #1
This was just due to the app taking a long time to load and me clicking to early on in the loading process. I addressed this by bundling stuff. Fixed with https://github.com/joeldenning/single-spa-examples/commit/11846eb0884465a948e3cc9f2cbcec3e423ea714

[2015-10-12 03:05] #1 closed

[2015-10-12 03:10] joeldenning opened #3 "No way to get back to home page of angular-phonecat"

[2015-10-12 03:12] internettrans commented on #3
The back button should work, just like in http://angular.github.io/angular-phonecat/step-12/app/#/phones

[2015-10-19 06:48] internettrans commented on #3
Fixed with https://github.com/joeldenning/single-spa-angular1/commit/f75772ccc1075faf23b8002910a3fcbb0bc023ba and https://github.com/joeldenning/single-spa/commit/0d45803b215cb6f9820e53b458705065a62034e4

[2015-10-19 06:48] #3 closed

[2015-10-19 06:49] joeldenning opened #4 "Angular phonecat -- the url get's screwy if you switch between angular apps."
Could have somethign to do with popstate/hashchange events.

[2015-10-20 06:41] internettrans commented on #4
Seems like my intuition was right. This was fixed in https://github.com/joeldenning/single-spa/commit/6fcfa0239fce6626eeba6df68f1836d1f5820b3c

[2015-10-20 06:41] #4 closed

[2015-10-20 06:42] joeldenning opened #5 "angular phonecat -- going to list of phones"
if you first go to the phone list, then click on a phone, and then click on the link at the top to go back to the phone list, you don't actually get sent back to the phone list, despite the url changing.

[2015-10-29 05:53] joeldenning opened #6 "Bundling (npm run prepare-surge) reveals possible race conditions"

[2015-11-09 08:30] internettrans commented on #6
This seems to have fixed itself with single-spa updates

[2015-11-09 08:30] #6 closed

[2015-11-09 08:30] internettrans commented on #5
Now a server-side refresh is actually occurring, when it shouldn't.

[2015-11-09 08:31] internettrans commented on #5
Go to http://single-spa.surge.sh/phonecat#/phones/motorola-xoom-with-wi-fi and then click on the angular phonecat link at the top

[2016-11-11 01:52] internettrans commented on #5
No longer applicable with the rewrite fore single-spa@3

[2016-11-11 01:52] #5 closed

[2016-11-11 01:52] joeldenning opened #7 "Get feedback on new demo site"
Need some feedback on how helpful the demo is and where it could be improved.

[2016-11-11 01:52] joeldenning opened #8 "Implement Angular 2 example"

[2016-11-11 01:56] internettrans commented on #7
@TheMcMurder what are your thoughts on this? https://single-spa.surge.sh is the live demo, and the source code can be found here.

Would love to hear feedback

[2016-11-11 04:57] TheMcMurder commented on #7
This is awesome. I was initially confused by webpack card linking to the react app until I noticed the more vertical icon, that's a nice touch.

I'm going to spend some more time looking at the code tomorrow.

[2016-11-11 17:21] TheMcMurder commented on #7
Okay I've been going through the code for a while. This is dead simple. One thing that I think would be an awesome addition would be a feature to show the different apps in the UI.

I'd suggest something like a button that when clicked adds a blue border to all React apps and a red border to all Angular apps.

That way you can show a simple "Here's how they can communicate"

I'm looking an how to

[2016-11-11 21:53] joeldenning opened #9 "Button to show visually which apps are written in each framework (colored border)"
See https://github.com/CanopyTax/single-spa-examples/issues/7#issuecomment-260008143

[2016-11-11 21:54] joeldenning opened #10 "Show an example of how to do inter-app communication"
See https://github.com/CanopyTax/single-spa-examples/issues/7#issuecomment-260008143

[2016-11-11 21:55] internettrans commented on #7
👍  that's great feedback, I like the idea of a button that puts colored borders around apps. And for the inter-app communication part, I think that would be a great thing to do in the "Parts of the page written in one framework, while other parts use a different framework." example that is still not finished.

I've created two issues for those things:
- #9
- #10

[2016-11-11 21:55] joeldenning opened #11 "Make more mobile friendly"
Specifically the navbar should work on mobile

[2016-11-11 22:01] joeldenning opened #12 "Add comments to angular1 example so that the nuances are explained"
At least the following should be explained.

1. Why we import 'app.module.js' before './routes.js'
1. Why a global angular variable is being used (ui-router's fault)

[2016-11-13 06:07] #8 closed

[2016-11-13 06:09] #11 closed

[2016-11-14 19:39] TheMcMurder commented on #7
Numerous examples showing different aspects of functionality are valuable. I'm wondering if it's necessary to create a new example with "Parts of the page written in one framework, while other parts use a different framework" as the main example already has that.

Nav bar -> react
Home -> React
AngularOne -> Angular
React -> React

You already have a scenario where You end up with two frameworks o

[2016-11-14 19:46] TheMcMurder commented on #9
I was thinking about different ways to do this without inter-application communication. I'm probably missing something but wouldn't a button require inter-application communication?

At a minimum there would need to be a shared config object so that each application could add and remove the colored border on itself? Or Single Spa would have to manage it, In which case my question evolves into wher

[2016-11-14 20:23] internettrans commented on #9
You're absolutely right, the button will require inter app communication. I actually am almost finished with this feature, I'll be sure to mention you in the pull request for it so you can see.

About where to put the button, having the button in a child application but controlled by the parent application is a valid way of doing (and it's the way I've been planning to implement it). I'm planning

[2016-11-14 20:26] internettrans commented on #9
How I explained above is of course just one if many ways to do inter app communication. At canopy and also with the dealer socket developers, we've been discussing if we should create a project or add to single-spa itself a way to do inter app communication in a more standardized way.

I would love to hear your thoughts on it, and if you'd like you could even join in on one of our discussions abou

[2016-11-14 20:34] TheMcMurder commented on #9
Awesome!! A much better solution than a shared config (pull), I haven't gotten to use RxJS in anything besides sample applications so sometimes I forget it's an option.

As for adding inter app communication to Single-spa itself. That's an interesting idea, I feel like that ultimately comes down to your goal with the project. I'd suggest that if your goal is an opinionated framework then built in

[2016-11-14 20:50] joeldenning opened #13 "Implement page where several concurrent apps show content on the page."
See https://github.com/CanopyTax/single-spa-angular2/commit/8a8b09c67563675fcd3cd59e103dfc305abda583.

I think the idea is to help people understand that you can have lots of apps going on at once, and give them an idea of how that would work.

[2016-11-15 17:59] #9 closed

[2016-11-15 19:08] TheMcMurder opened #16 "Surge site seems broken"
Lastest deploy of https://single-spa.surge.sh/# is only loading a single child application (navbar)

Looking at the deployed file for single-spa-examples.js I see this:

[code]

I'm guessing they were commented out for development and ran surge command while they were commented out.

[2016-11-15 19:09] TheMcMurder commented on #16
@joeldenning I think this is an easy fix, but you'll have to be the one to actually deploy again.

[2016-11-18 20:08] #16 closed

[2016-11-18 22:25] internettrans commented on #16
Yeah sorry about that -- accidentally broken things for a little while

[2016-11-23 00:12] #12 closed

[2016-11-23 08:26] mirandaleandro commented on #7
Firstly, Joel, this demo is so much better than what you had before. Thank you for putting this together for the community. I don't have anything greatly important to give you as feedback, so I will be very picky on my input to you. I hope that you will like it!

Cosmetics
- I recommend changing the name to single-spa-showcase. If you would like to show off some really cool things you can do with

[2016-11-23 19:08] joeldenning opened #19 "Stop uploading all jspm_packages to surge"
For some reason, plugin-babel is being downloaded at runtime, but it should only be used at build-time. I believe that the navbar app is the culprit. Once plugin-babel isn't downloaded at runtime, the jspm_packages directory can be ignored from surge completely.

[2016-11-23 19:11] joeldenning opened #20 "Improve framework inspector user experience"
- Make it a toggle/switch instead of a menu link (see Switch section in http://materializecss.com/forms.html)
- Have it on by default for all pages except the home page.

 See https://github.com/CanopyTax/single-spa-examples/issues/7#issuecomment-262456119

[2016-11-23 19:12] joeldenning opened #21 "Decrease the max width of the "container" class"
This will be a little easier to read. See https://github.com/CanopyTax/single-spa-examples/issues/7#issuecomment-262456119

[2016-11-23 19:17] joeldenning opened #22 "Use new single-spa logo, color scheme, fonts, branding, etc"
A graphic designer has graciously volunteered her time to help design single-spa's website. Once that is completed, we should switch this project to use that branding

[2016-11-23 19:26] joeldenning opened #23 "Explain that child apps can be in separate code repositories"
Even though this project doesn't separate child apps into separate code repositories, that does not mean that it isn't possible. See https://github.com/CanopyTax/single-spa-examples/issues/7#issuecomment-262456119 where @mirandaleandro said

[code]

[2016-11-23 19:26] joeldenning opened #24 "Improve Angular 2 app to have more than one route"
See https://github.com/CanopyTax/single-spa-examples/issues/7#issuecomment-262456119

[2016-11-23 19:27] joeldenning opened #25 "Invite the user to refresh the page after navigating to show that single-spa handles that."
See https://github.com/CanopyTax/single-spa-examples/issues/7#issuecomment-262456119
`I recommend inviting the user to refresh the page so he can tell that single-spa survives that just fine.`

[2016-11-23 19:29] joeldenning opened #26 "Create an example of a child application that lives in an iframe"
See https://github.com/CanopyTax/single-spa-examples/issues/7#issuecomment-262456119
`I recommend having an example of an iframe app. This may sound stupid, but it might propose the usage of single-spa as a platform for integration of apps that can be built in any technology.`

[2016-11-23 19:32] internettrans commented on #7
@mirandaleandro thanks that's great feedback. I've created the following issues and would love if you helped out with them:

- #20
- #21
- #23
- #24
- #25
- #26

The ones I didn't create issues for:
- About switching to single-spa-showcase, I think I'd prefer to stick to single-spa-examples since that's what other projects usually call this sort of thing and "examples" is what a lot of people have

[2016-11-23 21:45] mirandaleandro commented on #7
I cannot see the issues on the email but I will Look at Github later.

On Nov 23, 2016 12:32 PM, "Joel Denning" <notifications@github.com> wrote:

@mirandaleandro <https://github.com/mirandaleandro> thanks that's great
feedback. I've created the following issues and would love if you helped
out with them:

   -

The ones I didn't create issues for:

   - About switching to single-spa-showcase, I t

[2016-12-14 21:46] TheMcMurder opened #29 "No CORS file (preventing me from pulling a remote child application)"
Surge supports adding a CORS file. I'll submit a pull request to add a [CORS file](https://surge.sh/help/enabling-cross-origin-resource-sharing).

Basically I'd like to ensure my parent application is set up correctly. If I add a CORS file to the deploy on surge then I can pull the deployed file as a child application of my local application to ensure I set it up correctly.

[2016-12-14 22:15] #29 closed

[2016-12-14 23:45] internettrans commented on #29
CORS requires paid plan with surge. To do this we'd have to switch off of surge

[2016-12-20 21:39] joeldenning opened #31 "angular 1 example doesn't work in Firefox right now"
https://single-spa.surge.sh/#/angular1

[2016-12-21 22:51] #31 closed

[2016-12-30 06:16] #26 closed

[2016-12-30 06:17] internettrans commented on #26
@mirandaleandro This is now live on http://single-spa.surge.sh

[2016-12-30 06:20] #7 closed

[2017-07-17 16:08] joeldenning opened #33 "Create ember example"
See https://medium.com/@tomsoderlund/bret-i-must-say-single-spa-is-the-best-solution-for-micro-frontends-ive-seen-so-far-fb1693b485de. We should add an ember example, which may include publishing a `single-spa-ember` helper library.

[2017-07-24 07:18] avinash195 opened #35 "SystemJS not found while cloning the repo and running for the first time"
single-spa is very promising library for our microservices architecture and i have been trying to implement it for a few days.But while cloning this repo and running after npm install it throws errors like SystemJS not found(GET /build/system-polyfills.src.js" Error (404): "Not found"   ,  GET /build/common-deps.js" Error (404): "Not found"   ,   GET /build/system.src.js" Error (404): "Not found"

[2017-07-24 20:29] joeldenning opened #36 "Upgrade to latest SystemJS/Jspm"
See https://github.com/CanopyTax/single-spa-examples/issues/35 and https://github.com/CanopyTax/single-spa-examples/commit/5f51433f780bc7b59ff62bd0c11c1dd1b365bca8#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R40. jspm@0.17.0-beta.33 is much different than jspm@0.17.0-beta.32 because it uses a whole rewritten systemjs. We should upgrade single-spa-examples to use the latest

[2017-07-24 20:34] internettrans commented on #35
Happy to hear you are trying out single-spa! Let us know if you have any questions or run into problems.

When was the last time you pulled? Five days ago I [made a commit](https://github.com/CanopyTax/single-spa-examples/commit/5f51433f780bc7b59ff62bd0c11c1dd1b365bca8#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R40) that fixed the problem you described in your issue. What was happening is that this proj

[2017-07-25 12:54] avinash195 commented on #35
It's working now.Thanks

[2017-07-25 12:54] #35 closed

[2017-08-01 12:43] dshrestha commented on #33
I am also trying to create an ember-app as a child app with single spa, but I am facing an issue with loading the build source files. I added a stack overflow post with all the steps here : https://stackoverflow.com/questions/45438094/issue-in-loading-ember-app-as-child-application-in-single-spa

your feedback would be most valuable. Thanks.

[2017-08-01 17:36] internettrans commented on #33
I'll take a look at this later today. I've been working on this issue in the last few days, hopefully I'll be able to help

[2017-08-02 04:08] internettrans commented on #33
@dshrestha Thanks for the detailed description in the stackoverflow, I have responded to it.

Also I just created a pr (https://github.com/CanopyTax/single-spa-examples/pull/37) that shows an ember app coexisting with all the other apps (react, angular, etc). It is still very much a wip, would you be interested in helping solve some of the remaining issues that I am facing? I am not very experienc

[2017-08-02 15:44] joeldenning opened #38 "Switch to all webpack and no jspm?"
Webpack is much more popular and is sort of the community standard. It might make things easier for people to understand and use if webpack is used in this repo rather than jspm

[2017-08-02 21:13] dshrestha commented on #33
@joeldenning I really appreciate your quick response. Would definitely love to help resolve this with best of my abilities.

Thanks again.

[2017-08-29 16:44] webia1 opened #40 "Not working on Windows,.."

[2017-08-29 16:50] internettrans commented on #40
Could you provide the error message you saw in the command prompt? I know that [these lines of code](https://github.com/CanopyTax/single-spa-examples/blob/master/bin/build-code#L4-L5) don't work in windows, but am curious if there is anything else (since I don't have a windows machine myself).

[2017-09-01 21:23] daniele-zurico commented on #10
I got lost between the links ... is the inter-app communication have been implemented? Thanks in advance

[2017-09-01 21:24] daniele-zurico commented on #38
Any news on that?

[2017-09-05 03:30] internettrans commented on #10
The inter-app communication is already occurring with the "framework inspector" that is turned on/off and then all apps respect that.

However, it's not documented or even commented in the code. Also, inter-app communication is a big enough topic where maybe there should be a few different examples of how to do it.

[2017-09-07 17:41] joeldenning opened #41 "Create example for cycle js"
Now that @pcmnac has created the helper library https://github.com/pcmnac/single-spa-cycle, we should add cyclejs to single-spa-examples.

[2017-09-07 17:48] #33 closed

[2017-09-08 14:14] pcmnac commented on #41
Hello @joeldenning . You can start from here (https://github.com/pcmnac/single-spa-cycle-child-example). It's a simple app using Cycle.js with JSX. I tried to put it together with simple-single-spa-webpack-example but when I started to use JSX it started to conflict with the React example. So I moved my child app to a separated project and started importing the webpack bundle in the root app.

[co

[2017-10-03 08:04] bhupendrajoshi commented on #40
'.\bin\build-code' is not recognized as an internal or external command,
operable program or batch file.

[2017-10-03 08:21] bhupendrajoshi commented on #40
as a work around I prefixed all the ./bin/build* in the with bash, to run as bash command

like in package.json
``` "build": "bash ./bin/build-code",```
instead of
``` "build": "./bin/build-code",```

did the same in ./bin/build-code

[2017-10-04 11:19] k0pper opened #42 "Missing package.json in single-spa-ember"
After cloning the repository I tried to run `npm install` and it shows this error:

logfile:
[code]

Hope someone can help with this issue.

Sincerely,
Alex

[2017-10-05 06:53] #42 closed

[2017-10-05 20:06] internettrans commented on #40
@bhupendrajoshi would you be able to pull request your changes? I meant to get around to this but haven't had the chance yet.

[2017-11-06 07:38] nutan06 opened #44 "Gettin build error"
I am getting build error while running the single-spa-examples code.
The Webpack example runs nicely but getting issue when 2 versions of angular are added.
Can you explain a bit on single-spa-examples or how to use multiple versions of angular in
simple-single-spa-webpack-example. I didnt get how to create seperate package.json.

Thanks in advance

[2017-11-06 20:37] internettrans commented on #44
What error are you getting building the code?

Here are a few different ways two pull off separate package.json files for each child application:
- Publish each child app to npm and have the root app npm install them.
- Have each child app have its own package.json and webpack.config.js. Host each of the bundles on a web server and have SystemJS load them from the browser.

Let me know if you'd li

[2017-11-06 21:57] nutan06 commented on #44
Thank you for the quick respnse. I will try with seperate package.json as mentioned.After downloading the single-spa-example if I try to run it I get following error

![image](https://user-images.githubusercontent.com/10524403/32465722-4920ee5c-c2f9-11e7-9b39-59aa172e4739.png)

[2017-11-07 17:51] internettrans commented on #44
I was able to reproduce this -- it looks like you might not have run `npm install` before running `npm start` and opening it up in the browser. See https://github.com/CanopyTax/single-spa-examples#how-to-get-the-examples-running-locally for the instructions. When you do `npm install`, it should automatically create a `build` directory and create all of those files that are not being found in your

[2017-11-07 20:04] nutan06 commented on #44
Will try this .Thank you very much for prompt response. I appreciate this.

[2017-11-07 20:04] #44 closed

[2017-11-08 18:20] nutan06 commented on #44
Followed all the instructions above. Now I am getting 404 error.

![image](https://user-images.githubusercontent.com/10524403/32566910-69465a66-c46e-11e7-98b6-cfa2e13171e7.png)

[2017-11-08 18:28] internettrans commented on #44
Can you verify if you have a `build` directory? It should have been created during `npm run postinstall`. Here's what my single-spa-examples repo looks like after doing the npm install (notice the build directory):

![screen shot 2017-11-08 at 11 26 25 am](https://user-images.githubusercontent.com/5524384/32567199-cf43200c-c477-11e7-810c-769fd9e660d0.png)

If you do not have a build directory, you

[2017-11-08 18:28] joeldenning commented on #44
Can you verify if you have a `build` directory? It should have been created during `npm run postinstall`. Here's what my single-spa-examples repo looks like after doing the npm install (notice the build directory):

![screen shot 2017-11-08 at 11 26 25 am](https://user-images.githubusercontent.com/5524384/32567199-cf43200c-c477-11e7-810c-769fd9e660d0.png)

If you do not have a build directory, you

[2017-11-08 19:42] nutan06 commented on #44
Yes I do have similar thing but I see following error in my cmd prompt.

![image](https://user-images.githubusercontent.com/10524403/32570657-ae8b45c2-c479-11e7-8a6b-b59bb5d2b034.png)

Can you get what this error is.I am new to jspm and trying to understand it.

[2017-11-08 19:44] nutan06 commented on #44
This is what I get after npm install

![image](https://user-images.githubusercontent.com/10524403/32570804-25518e00-c47a-11e7-8026-ca290d889d6e.png)

[2017-11-09 03:19] nutan06 commented on #44
@joeldenning got the issue,I am running this on windows . Facing similar issues as mentioned below:
[https://github.com/CanopyTax/single-spa-examples/issues/40](url)
It worked when tried on mac.
So how do I rectify this in windows?

[2017-11-27 15:39] peterlavey opened #45 "Error npm run build"
Fails after installation in the build script, the log says:

[code]

I'm with windows operating system.

[2017-12-12 22:55] TheMcMurder commented on #45
It looks like this is a duplicate of https://github.com/CanopyTax/single-spa-examples/issues/40 I'll take a look at this right now.

[2017-12-12 22:55] #45 closed

[2017-12-12 23:09] TheMcMurder commented on #40
Prefixing the build instructions with `bash` will only work on windows if you have the command setup in the command prompt or are using the linux subsystem for windows. We'll need to change all of the build scripts to correctly work on Windows (without bash) and Unix based OS's

Taking a look at how other open source projects solve this:
1. Python or other easy to install cross OS scripts (NodeJS)

[2017-12-12 23:12] TheMcMurder commented on #45
There are some changes we'll need to make to the build scripts to get these to work on Windows, because most versions of windows don't support bash scripts.

There are a few workaround options:
1. Depending on which version of Windows you are using you can install the linux subsystem on windows https://docs.microsoft.com/en-us/windows/wsl/install-win10 and use bash on windows.
2. Modify the build

[2017-12-13 00:40] #40 closed

[2017-12-13 00:41] internettrans commented on #45
@peterlavey apologies for the slowness in fixing -- could you try it now? I just pushed up a commit that removed all the bash stuff and makes it cross platform.

[2017-12-13 00:42] internettrans commented on #40
@webia1 @bhupendrajoshi apologies for the slowness in fixing -- it should be fixed now. I changed all bash scripts to be cross platform node scripts. Let me know if you run into any more problems.

[2017-12-14 03:40] internettrans commented on #38
Fixed with https://github.com/CanopyTax/single-spa-examples/commit/0dc6e7639b9a4f9502d5324baa3ae5d3f4a85eac

[2017-12-14 03:40] #38 closed

[2018-01-02 10:00] area73 opened #49 "feature request Linting"
Adding lint like JSCS to homogeneizar coding.
Do you think is it a good idea?

[2018-01-02 23:46] internettrans commented on #49
Hey @area73! Thanks for creating this issue and for the pr you created earlier today!

The single-spa-examples project demos the capabilities of single-spa, but is not really intended to be like create-react-app or angular-cli which prescribe how to build an application. So whether it's linted or not shouldn't have a huge impact on lots of people using single-spa.

That being said, I'm open to add

[2018-01-02 23:56] internettrans commented on #44
@nutan06 apologies for the (very) slow response, but this should now be fixed (see #40). Closing this for now, let me know if you still have issues!

[2018-01-03 12:16] area73 commented on #24
Hi @joeldenning , I add an Angular 5 demo with routing and angular animation (very simple), but I have a problem with the view that I have no clue in  how to solve it.

The problem is that when I try to go from this angular 5 app to another app like angular2 or react. The view is not destroy. This mean that the system loads the new view and underneath there is the angular 5 app. The curiosity of t

[2018-01-08 22:23] internettrans commented on #24
This seems pretty similar to https://github.com/CanopyTax/single-spa-angular2/pull/3 except it is for the DOM views instead of DOM events.

I'll add this to my to-do list to look into

[2018-01-09 00:23] internettrans commented on #49
Closing for now -- feel free to reopen or submit a PR

[2018-01-09 00:23] #49 closed

[2018-01-09 00:23] internettrans commented on #36
No longer relevant now that this project only uses webpack

[2018-01-09 00:23] #36 closed

[2018-01-09 00:24] internettrans commented on #23
See https://github.com/CanopyTax/single-spa/issues/132 and https://github.com/CanopyTax/single-spa/pull/150

[2018-01-09 00:24] #23 closed

[2018-01-09 00:25] internettrans commented on #21
I believe this was done long ago -- closing

[2018-01-09 00:25] #21 closed

[2018-01-09 00:29] internettrans commented on #20
On the broader scale, I think that creating a "dev overlay" helper for single-spa that could be used generically would be awesome. Going to close this issue in favor of https://github.com/CanopyTax/single-spa/issues/151

[2018-01-09 00:29] #20 closed

[2018-01-09 00:30] internettrans commented on #22
Closed in favor of https://github.com/CanopyTax/single-spa/issues/149 -- this will be done after the single-spa website is created.

[2018-01-09 00:30] #22 closed

[2018-01-09 00:31] internettrans commented on #13
This is actually already done with the navbar being active along with content applications.

[2018-01-09 00:31] #13 closed

[2018-01-09 00:31] internettrans commented on #19
No longer relevant now that we have switch off of jspm/systemjs in favor of webpack

[2018-01-09 00:31] #19 closed

[2018-01-09 00:32] internettrans commented on #10
Closing for now -- feel free to reopen with further questions or discussion

[2018-01-09 00:32] #10 closed

[2018-01-16 18:09] egucciar opened #50 "Question: Are all applications required at build time?"
Ideally, Single-spa app loader would not need to rely on static build time to get new app. I would like to release a build for application A, while not having to do any build for application B. Does single spa allow for this, or would we need to re-build the entire platform whenever an app is updated?

[2018-01-16 23:05] internettrans commented on #50
Great question! The single-spa-examples repo is set up to just have one build (and one webpack config), but having a separate build for each application is totally possible. Check out the newly created [separating applications docs](https://github.com/CanopyTax/single-spa/blob/master/docs/separating-applications.md), which go over your options for this. Specifically the module loading section is h

[2018-01-16 23:05] #50 closed

[2018-01-25 00:18] #25 closed

[2018-02-20 03:30] sharpcoder28 opened #52 "Build process"
How would this work in production? If I have apps in different repos, I need to build (i.e. ng build --prod) which produces bundled files with random names, and then dump the output into respective folders. Also what's up with the reference to .ts files?

[2018-02-21 03:03] internettrans commented on #52
Hey sharpcoder28, good question! [The docs here](https://github.com/CanopyTax/single-spa/blob/master/docs/separating-applications.md) hopefully explain some of the problems and solutions for creating a large, microserviced frontend with single-spa. Let me know if they help, or if they could be improved!

About your specific questions, though:

It sounds like you're using angular-cli to build at le

[2018-02-24 22:08] sharpcoder28 commented on #52
I tried single-spa-angular-cli, all kinds of issues. From the start it says "In the child application" what child application? And then in the app entry file? What file? I'm guessing you mean for us to create one. That link is a 404.

The if I follow to run examples locally, first of all the git clone is a bad url. Running npm start throws an error. Npm start in the /src/menu throws an error, have

[2018-02-25 18:21] sharpcoder28 commented on #52
I get this error when running npm run start in the root folder:

<img width="1432" alt="screen shot 2018-02-25 at 1 19 32 pm" src="https://user-images.githubusercontent.com/5140239/36644890-acfe16f2-1a2e-11e8-9cf4-573af6b84d7b.png">

[2018-02-26 23:14] internettrans commented on #52
@robinComa could you comment on this one, since you maintain single-spa-angular-cli? (Also, **THANK YOU** for being so great at helping me field some of these questions. It's a huge help for me, since I'm not an expert in Angular)

[2018-02-27 12:55] robinComa commented on #52
Hello @sharpcoder28 and @joeldenning

To use an ng cli apps with single spas, it is really simple.
You have to generate you projet with angular cli (if not already create : not existing app) : ng new app1 --prefix=app1

And after you have to change somethings inside your angular app :

[code]

And remove zone.js :
[code]

And add zone.js only for your cli app (to run it outside the portal :
[code]

[2018-02-27 15:57] sharpcoder28 commented on #52
First error I get when trying to follow examples:

![image](https://user-images.githubusercontent.com/5140239/36739014-ecb8f80a-1bac-11e8-9a71-8fea1a33c92c.png)

[2018-02-27 16:24] sharpcoder28 commented on #52
Did a normal git clone, and I still get that error above about build/common.js. Are you missing a webpack build in the tutorial? Ran npm run preinstall and it still didn't help

[2018-02-27 16:44] sharpcoder28 commented on #52
more errors:

![image](https://user-images.githubusercontent.com/5140239/36741562-72972f9a-1bb3-11e8-86f0-9eb20620ee34.png)

[2018-03-02 01:20] internettrans commented on #52
@sharpcoder28 I tried to run single-spa-angular-cli-examples as well a couple days ago and ran into issues as well. The error that you screenshotted above is the same one that I saw because the locally install angular-cli wasn't working correctly. I submitted https://github.com/PlaceMe-SAS/single-spa-angular-cli-examples/pull/2 to fix the issues that I saw. Here were some of the things I had to do

[2018-03-02 02:56] Fantasy9527 opened #53 "Cannot GET /build/vanillajs/index.html"
Cannot GET /build/vanillajs/index.html

[2018-03-02 19:54] sharpcoder28 commented on #52
Thanks! I got it working. I'm going to prototype a build process soon, but I'm pretty confident. Do you see any issue in having the apps build and just drop into the dist folder of the main running app? I testing it and didn't need to do a build in the host app. Not unless a new child app was added.

[2018-03-02 23:56] internettrans commented on #52
@sharpcoder28 happy to hear it's working!

Yes, as long as you don't change anything in the [main file](https://github.com/PlaceMe-SAS/single-spa-angular-cli-examples/blob/master/src/main.js) or the [the loaders directory](https://github.com/PlaceMe-SAS/single-spa-angular-cli-examples/tree/master/src/loaders), you don't have to re-build the root application (or "host app")

[2018-03-03 00:00] internettrans commented on #53
Did you run `yarn build` before `yarn start`? Running the build copies the vanillajs/index.html file into the build directory. If so, maybe the build failed before it got to that part?

To fix it, try running [yarn build-vanilla](https://github.com/CanopyTax/single-spa-examples/blob/master/package.json#L10), which will run just that particular part of the build.

[2018-03-03 07:32] 0x1428571429 commented on #53
yarn build before yarn start

Thank you

[2018-03-03 07:32] #53 closed

[2018-03-06 16:28] pauljaxson commented on #24
Hi,

I'm seeing something very similar to this. I have created a demo with a couple of angular 5 apps. As soon as I add animations to one of the apps it starts to not remove that app from the view when it unloads. The apps are dynamically loaded via SystemJS.

I have added an event listener to single-spa:routing-event and the app is shown as NOT_MOUNTED, but the elements are still present in the D

[2018-03-14 23:16] internettrans commented on #24
Apologies for the slow response

Hmm, yeah we should look into this. I'm not really an expert in Angular but hopefully in the next week or two could look into this. @pauljaxson have you seen https://github.com/PlaceMe-SAS/single-spa-angular-cli? It lets you use angular-cli plus it doesn't have this issue. It's still a fairly new project but is gaining some momentum. If it turns out successful, I m

[2018-05-01 15:35] Fantasy9527 opened #54 "Navigation routing changes can not change page changes of react."
Navigation routing changes can not change page changes of react.
导航的路由跳转不能改变react的页面跳转

[2018-05-25 16:59] kumaranbsundar opened #55 "Are there any systemjs examples?"
All examples seem to be with webpack. How would we build the apps when they reside in different repos? Any help or suggestions is appreciated. Thx!

[2018-07-09 23:58] internettrans commented on #55
Apologies for the very very slow response here.

The majority of our initial examples (including single-spa-examples) used to be implemented with SystemJS, but we got rid of it because it became confusing for many people in the issue queues. If you went far enough back in the git history of single-spa-examples, you'd actually find SystemJS in there.

So currently I am not aware of any example repo

[2018-07-09 23:58] #55 closed

[2018-07-09 23:59] internettrans commented on #54
Apologies for the very very slow response.

Could you help me understand what you are describing? Are you saying that navigating between https://single-spa.surge.sh/react/course/0 and https://single-spa.surge.sh/react/course/0/assignments doesn't work?

[2018-08-15 02:12] PsidomPC opened #57 "yarn build failed with errors"
Cloned the github repo instead of following the one in README as it errors out as well, but when I do `yarn build`, I ran into the following error, what could be the issue? I already reinstalled nodejs to be the latest LTS:

$ rimraf build && yarn ember-install && yarn build-ember && yarn build-vanilla && yarn build-webpack
$ cd src/ember-app && yarn && cd ../..
warning package-lock.json found. Yo

[2018-09-14 14:35] joshalling opened #58 "Broken link in react example."
The link to the huge apps example on [this page](https://single-spa.surge.sh/react) results in a 404. It should be linking to the 1.0.x branch of the react-router repo since they removed all the examples from master. I can go ahead and submit a PR for this fix.

[2018-09-14 14:42] #58 closed

[2018-09-15 13:52] joshalling commented on #57
@PsidomPC I ran into the same error when I ran `yarn build`. It seems to be a problem specific to the ember framework. You can still run `yarn start` and the app will work with all the frameworks except ember.

[2018-09-15 22:52] joshalling opened #60 "Side nav menu doesn't open on small screen sizes"
The overlay appears, but the side nav doesn't slide open. I'm currently working on a fix for this.

[2018-09-17 15:08] tamasfoldi commented on #54
@joeldenning I think he was thinking about that if you navigate to https://single-spa.surge.sh/react/course/0/assignments then click on nav bar's react button it changes the url but does not change the page

[2018-09-19 13:54] bahmutov opened #62 "Would it be useful to have E2E tests with Cypress?"
Love the idea, and the examples. Would it make sense to add end-to-end tests using Cypress.io for this repo?

[2018-09-19 13:55] AngusFu commented on #54
@joeldenning Same issue.

When the page was in [/react/calendar](https://single-spa.surge.sh/react/calendar), `singleSpaNavigate('/react/grades')` would not work at all.

The same with “/angularjs/gifs” and “/angularjs/lorem-ipsum”.

![image](https://user-images.githubusercontent.com/8180186/45757537-2fcd6780-bc56-11e8-988a-22289e3132d1.png)

[2018-09-24 14:22] AngusFu commented on #54
any progress with this issue?

[2018-09-25 15:12] frehner commented on #54
The issue isn't really a single-spa issue; it's more of a react router / angular router issue. Since all `singleSpaNavigate` does is (eventually) call [`history.pushState`](https://github.com/CanopyTax/single-spa/blob/485841fac6b579ab8aa8bde8bbba7ce0becb316e/src/navigation/navigation-events.js#L42)

The problem is that there isn't a clean way for anyone to listen to changes on `history.pushState`

[2018-10-30 11:19] 0x1428571429 commented on #54
最终我还是解决了这个问题,
我写在了我的博客里: https://alili.tech/archive/5ff0b366/
大致有三种解决方案.

1. 通过事件做到模块之间的通讯,再使用模块的路由做页面跳转
2. 统一使用hash路由
3. 像react一样统一模块的路由核心库`history`,通过customprops传入每个模块

In the end, I solved this problem.
I wrote it on my blog: https://alili.tech/archive/5ff0b366/
There are roughly three solutions.

1. Through the event to achieve communication between the modules, and then use the routing of the

[2018-12-05 23:30] internettrans commented on #60
Fixed with #61

[2018-12-05 23:30] #60 closed

[2018-12-05 23:31] internettrans commented on #62
Apologies for the slow response - I'm not opposed to adding some more tests to this repo. We haven't had many issues with bugs creeping in, so I don't think there has been a pressing need to do so. But would be open to discussing it and reviewing PRs that add tests.

[2018-12-05 23:31] #62 closed

[2018-12-08 13:48] shershen08 opened #63 "Add support for Hyperapp demo"
I've recently added a [single-spa-hyperapp plugin](https://github.com/shershen08/single-spa-hyperapp) to enable [Hyperapp](https://github.com/jorgebucaran/hyperapp)-based apps to work with single-spa

Do you think it worth adding it to the demo ?

[2018-12-08 14:31] frehner commented on #63
Would be interesting to see, sure!

And maybe add to single spa docs too?

[2018-12-08 14:39] shershen08 commented on #63
I will submit PR, just I bit later, wanted to make sure ppl used it and it works ok for them

[2019-01-03 02:09] windust211 commented on #57
same with my situation, now i am stuck by two issues.One is how to remove the emberjs part  from the project and continue my building work, the other is how to install them online when building is done, thx!

[2019-01-04 02:40] Amanda017 opened #64 "angular unmount in angularjs app"
in thie demo, we can see, when we switched to angularjs tab, the page concludes two parts, angularjs app and angular app. when we open f12 tools, we can see when switch between angularjs tab and angular tab, the angular app does not unmount. can you help with this issue?

[2019-01-11 13:55] JerzyLesniak commented on #57
I have same problem and when i run ```yarn start```, webpack server starts running but all i can see at localhost:8080 is ```404 page not found```. I'm was tryin to build ember&react app and now i don't think this library is good solution.

[2019-01-13 07:03] filoxo commented on #57
@JerzyLesniak before making accusations that "this library is [not] a good solution", try actually solving this issue yourself. You're essentially asking for others to fix it for you, and that's not a sustainable model for open source. The current maintainers of single-spa don't use ember and I'm sure they'd appreciate help from anyone who knows ember well to fix this issue.

To everyone else, the

[2019-01-22 10:51] superciccio opened #65 "error vanillajs"
I was surfing single-spa.surge.sh
and got this error in web console
GET https://single-spa.surge.sh/build/vanillajs/node_modules/todomvc-common/base.js net::ERR_ABORTED 404 (Not Found)

[2019-01-30 08:53] resourceF commented on #57
What should I do if I want to build?

[2019-02-15 19:37] Beej126 commented on #55
wanted to submit a fresh [working SystemJS based sample](https://github.com/Beej126/single-spa-systemjs-cra2.1-ts-no-eject) since this took me a bit to get my head around the specifics given SystemJS and everything else has evolved enough for errors to be confusing based on the slightly dated sample code in these threads... not a dig, just the reality of how everything is moving forward.

@joelden

[2019-02-24 06:04] filoxo commented on #41
This was resolved in https://github.com/CanopyTax/single-spa-examples/pull/56.

[2019-03-11 14:46] omril1 opened #66 "single-spa-examples loads very slowly & appears to be using development version of react"
**Describe the bug or question**
The site [https://single-spa.surge.sh/react](https://single-spa.surge.sh/react) loads very slowly, Seems to download ~7.7MB over 30 seconds on the initial request, which is very bad for the public relations of this software.
Additionally, react-devtools alerts that this site is using development build of react

**To Reproduce**

1.  Open the URL in chrome while chr

[2019-03-11 14:52] frehner commented on #66
Yup, it appears that the first two bundles are huge.

However, those bundles are almost guaranteed to be from the React example code. Perhaps you can look at the source code and figure out why it's so large and submit a pull request to make it smaller?

This website was mainly built as a simple example of how many, many different frameworks _could_ live on the same page, but as you have noticed it

[2019-04-19 18:46] opadilla opened #67 "upgrade to webpack 4 and @babel 7"
Would love to use this but reverting our existing codebase from latest versions of webpack and babel to older versions is a tough sell

[2019-04-19 22:12] frehner commented on #67
This is just an example; it's not recommend to build an actual app based on this repo.

If you're looking for a good example to build off of, check out https://single-spa.js.org/docs/separating-applications.html#comparison and check out the simple-webpack-example or systemjs example. :)

[2019-04-21 02:01] internettrans commented on #67
Agreed -- this demo repo is not the best one to base your code off of. https://gitlab.com/TheMcMurder/single-spa-portal-example/ is a better one.

With that said, I agree this repo could use some attention. Will leave this open for when we have the time to upgarde.

[2019-04-25 21:06] dzienisz commented on #67
@joeldenning maybe you should link this "better" example in main project repo?

[2019-06-10 08:51] callmesoul opened #68 "run install error"
[code]

[2019-06-20 07:50] mihailgaberov opened #69 "Ember example from single-spa.surge.sh not working"
![image](https://user-images.githubusercontent.com/2501904/59830837-bd062f80-9340-11e9-8149-d69922d9c110.png)

[2019-06-20 09:37] forever-chen opened #70 "cannot run build in windows"
cleaning up...
Build failed.
Build Canceled: Broccoli Builder ran into an error with `Funnel` plugin. 💥
ENOENT: no such file or directory, lstat 'F:\learn\single-spa\single-spa-examples\src\ember-app\tmp\funnel-input_base_path-EiMffosU.tmp/bower_components/single-spa-ember/amd/single-spa-ember.js'
Error: ENOENT: no such file or directory, lstat 'F:\learn\single-spa\single-spa-examples\src\ember-ap

[2019-06-22 14:49] xieyihao opened #71 "The example website(single-spa.surge.sh) running error"
**Describe the bug or question**
The Official website's example running error. [https://single-spa.surge.sh/](https://single-spa.surge.sh/).

**To Reproduce**
And I found an error in console.
<pre>
Uncaught ReferenceError: webpackJsonp is not defined
    at main.js:1
</pre>

**Expected behavior**
Run well.

**Screenshots and/or console output**
![image](https://user-images.githubusercontent.com/12

[2019-06-23 13:59] internettrans commented on #69
I've known about this for a while.

single-spa-examples is due for a redo -- it hasn't been touched in a year or two. PRs accepted to fix the ember app as-is, or we can wait for the redo.

[2019-06-23 14:00] internettrans commented on #71
I do not get this error. Can you provide more information to help replicate the issue? What browser are you on? Can you replicate the error every time?

[2019-06-23 14:01] internettrans commented on #70
See related #69

[2019-06-24 04:40] xieyihao commented on #71
It run well now :sweat:

The error was repeated every time，the day before yesterday。It may cause by Network。
My system & browser : Chrome 74.0.3729.169 | macOS 10.14.5 。

thx for your attention.

[2019-06-24 04:43] #71 closed

[2019-07-05 02:45] internettrans commented on #68
Try using `yarn install` instead.

Also, this repo is fairly out of date and in need of a big update. When that update happens, npm installing will probably be supported.

[2019-07-05 02:45] #68 closed

[2019-10-04 04:58] JenniferFuBook commented on #69
Can we merge the PR to get a working Ember example?

[2019-10-04 16:34] #69 closed

[2019-10-31 17:26] jbalaty opened #73 "React example not working"
**Describe the bug or question**
React example is not working for me

**To Reproduce**
Open this page https://single-spa.surge.sh/react and click the link huge-apps example

[2019-10-31 17:27] frehner commented on #73
That's just an external link to a github project that appears to not exist anymore.

Also, we're moving away from the single-spa-examples repo so I'm not sure we'll get around to fixing it before we just remove this repo all-together.

[2019-11-27 16:08] senthilshanmugam opened #75 "AngularJS loads along with Angular"
When we click AngularJS tab, it also loads Angular, we can see both AngularJS and Angular, but Angular just load only Angular page.

[2019-11-29 14:28] internettrans commented on #75
This repo is no longer maintained or encouraged as a starter kit.

[2019-11-29 14:28] #75 closed